<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="E7_Gear_Optimizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ApiUrl" value="https://api.epicsevendb.com" />
    <add key="GitHubUrl" value="https://github.com/Zarroc2762/E7-Gear-Optimizer/releases"/>
    <add key="GitHubApiUrl" value="https://api.github.com/repos/Zarroc2762/E7-Gear-Optimizer/releases/latest"/>
    <add key="Version" value="2.0.2.0"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <E7_Gear_Optimizer.Properties.Settings>
      <setting name="LimitResults" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LimitResultsNum" serializeAs="String">
        <value>10000000</value>
      </setting>
      <setting name="UseCache" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CacheDirectory" serializeAs="String">
        <value>cache</value>
      </setting>
      <setting name="ImportOnLoad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastUsedFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUsedFileNameWeb" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OptimizationHiddenColumns" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="OptimizationVisibleSkillColumns" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>S3_Crit</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="EnemyDefence" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CacheTimeToLive" serializeAs="String">
        <value>7</value>
      </setting>
    </E7_Gear_Optimizer.Properties.Settings>
  </userSettings>
</configuration>